<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>LED ON/OFF</h1>
  <button onclick="led_op(1)">RED LED ON</button>
  <button onclick="led_op(2)">RED LED OFF</button>
  <button onclick="led_op(3)">GREEN LED ON</button>
  <button onclick="led_op(4)">GREEN LED OFF</button>
  <div id="result"></div>
  <script>    
    function led_op(op) {
      if(op==1) url = "/led/red/on";
      else if(op==2) url = "/led/red/off";
      else if(op==3) url = "/led/green/on";
      else if(op==4) url = "/led/green/off";
      fetch(url)
      .then(response=>response.text())
      .then(data=> {
        let result = document.querySelector("#result");
        result.innerHTML = "<h1>" + data + "</h1>";
      });
    }
  </script>
</body>
</html>